<launch>

  <!-- Map server -->
  <arg name="map_file" default="$(find robot_navigation)/maps/room3.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- start velodyne -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points_yp.launch">
  </include>

  <!-- move_base -->
  <include file="$(find robot_navigation)/launch/10_6_move_base.launch"/>

  <!-- AMCL -->
  <!--include file="$(find robot_navigation)/launch/10_6_amcl.launch"/-->

  <!-- start base_link to map transform -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_map" args="0 0 0 0 0 0 map base_link 0"/>

  <node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find robot_navigation)/rviz/nav_test.rviz"/>



</launch>
