 <launch>
 
  <!-- Map server -->
  <arg name="map_file" default="$(find robot_navigation)/maps/room3.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- move_base -->
  <include file="$(find robot_navigation)/launch/10_6_move_base.launch"/>

  <!-- start base_link to map transform -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_map" args="0 0 0 0 0 0 /map /odom 100" />
</launch>
